#store.featurette
  .header
    = image_tag("shop/humana.png")
  .humana
    .product
      = image_tag("shop/humana/product1.jpg")
      %p.item Leather Clasp Dog Leashes
      .price $19.99
    .product
      = image_tag("shop/humana/product2.jpg")
      %p.item Luxury Dog Sweater
      .price $39.99
    .product
      = image_tag("shop/humana/product3.jpg")
      %p.item Athletic Dog Sweater
      .price $24.99
    .product
      = image_tag("shop/humana/product4.jpg")
      %p.item Striped Dog Collar
      .price $34.99
    .product
      = image_tag("shop/humana/product5.jpg")
      %p.item Metallic Food Bowl
      .price $12.99
    .product
      = image_tag("shop/humana/product6.jpg")
      %p.item Metal Buckles
      .price $17.99
    .product
      = image_tag("shop/humana/product7.jpg")
      %p.item Bone Dog ID Tag
      .price $8.99
    .product
      = image_tag("shop/humana/product8.jpg")
      %p.item Tuxedo Bandana
      .price $9.99
    .product
      = image_tag("shop/humana/product9.jpg")
      %p.item Pet Crate Pad
      .price $11.00