.dog
  .photo
    = image_tag("find/#{image}")
  .description
    %h3
      = name
    .tag
      = tagline
    .attributes
      .label.label-warning.attribute
        = size
      .label.label-info.attribute
        = personality
      .label.label-important.attribute
        = age
      .label.label-success.attribute
        = appearance
  .buy-in
    %h4
      = link_to(buy, "/shop")